.vscode/*
.idea/*
build/*
local/*
# large file
traces/*
traces/Home1.lis
traces/Home2.lis


cmake-build-debug/
cmake-build-release/

unittest/generic_test.cpp

*.pyc
*.log
*.o
traces.rar
